html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

@font-face {
  font-family: "HK Grotesk";
  src: url("fonts/hk-grotesk.woff2")format("woff2"), url("fonts/hk-grotesk.woff")format("woff");
}

html, body {
  position: fixed;
  height: 100%;
}

canvas {
  top: 0;
  left: 0;
  vertical-align: bottom;
}

body{
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
	line-height: 1.5;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));

	background-color: #ffffff;
	color: #ffffff;
  cursor: grab;
}

a{
  text-decoration: none;
  color: white;
}

a:hover {
  transform: skewY(10deg);
}

section.info {
  box-sizing: border-box;
  height: 100%;
  position: fixed;
}

div.top-left {
  min-width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  z-index: 2;
  transition: transform .3s ease;
  white-space: nowrap;
}

div.top-left:hover {
  transform: skewY(10deg);
}

div.top-right {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  z-index: 2;
  transition: transform .3s ease;
  white-space: nowrap;
}


div.top-right:hover {
  transform: skewY(10deg);
}

div.middle-left {
  height: 100vh;
  position: fixed;
  /* transform: translateY(-15px); */
  /* -webkit-transform: translateY(-15px); */
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index: 1;
}

div.middle-left a {
  transition: transform .3s ease;
}

.middle-left a:hover {
  transform: skewY(10deg);
}

div.middle-right {
  height: 100vh;
  position: fixed;
  /* transform: translateY(-15px);
  -webkit-transform: translateY(-15px); */
  padding-bottom: 30px;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

div.middle-right h1 {
  transition: transform .3s ease;
}

.middle-right h1:hover {
  transform: skewY(10deg);
  cursor: pointer;
}
.tour.clicked {
  transform: skewY(10deg);
}

div.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  z-index: 2;
  transition: transform .3s ease;
  white-space: nowrap;
}

div.bottom-left:hover {
  transform: skewY(10deg);
  cursor: pointer;
}
div.bottom-left.clicked {
  transform: skewY(10deg);
}

div.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  z-index: 2;
  transition: transform .3s ease;
  white-space: nowrap;
}
div.bottom-right.clicked {
  transform: skewY(10deg);
}

div.bottom-right:hover {
  transform: skewY(10deg);
  cursor: pointer;
}

/* right section ======================== */
section.info-right {
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  transition: transform 0.4s;
  z-index: 3;
}

section.info-right.open {
  transform: translateX(-25vw);
}

/* Social ================================ */
div.social {
  width: 100vw;
  bottom: 20px;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.social-icons li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1600 - 300)));
  /* width: 20px; */
}

ul.social-icons {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons li:hover {
  opacity: 1;
}

/* Soundcloud ================================ */

div.sc-wrap {
  width: 300px;
  opacity: 0.5;
  transition: opacity 0.35s;
  padding-right: 20px;
  transform: translateY(-1px);
}

div.sc-wrap:hover {
  opacity: 1;
}

span.line {
  background-color: #fff;
  height: 20px;
  width: 1px;
  opacity: .5;
  margin-right: 12px;
}

/* Tour ============================== */
div.tour-info {
  width: 25vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  /* Delete align items once you add more items */
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  transform: translateX(25vw);
  transition: transform 0.5s;
  box-sizing: border-box;

  padding-top: 30px;
  padding-bottom: 40px;
  z-index: 5;


}

div.tour-info.open {
  transform: translateX(0vw);
}

.tour-info li {
  text-decoration: underline;
  text-align: center;
}

.tour-info p {
  padding-bottom: 15px;
}


/* Contact Modal =========================== */
div.contact-modal {
  visibility: hidden;
  position: fixed;
  top: 50vh;
  left: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
}

#mc_embed_signup {
  background:rgba(0,0,0,0);
  clear:left;
  font-family: 'Sawarabi Mincho', sans-serif;
  text-transform: uppercase !important;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  width:100%;
}

#mc_embed_signup input.button {
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  background-color: rgba(0,0,0,0) !important;
  text-transform: uppercase !important;
  padding: .25em 1em 1em 1em !important;
  display: block !important;
  height: 40px;
}

#mc_embed_signup input.button:hover {
  background-color: rgba(0,0,0,0);
  opacity: 1;
}

input {
        display: block;
        width: 100%;
        border: 1px solid #fff !important;
        border-radius: 0px !important;
        background-color: rgba(244,244,244,0) !important;
        color: #fff !important;
        font-family: 'Sawarabi Mincho', sans-serif !important;
        text-transform: uppercase !important;
        height: 40px !important;
        /* padding: 0 0 1em 0 !important; */
    }

div.contact-modal.open {
  visibility: visible;
  z-index: 100;
}
.contact-modal h1 {
  transform: skewX(-15deg);
  text-decoration: underline;
  padding-bottom: 15px;
}

.contact-modal a:hover {
  transform: none !important;
}

.extra {
  padding-top: 1em;
}

/* News Page ============================== */
section.news-scroll {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
}

section.news-scroll h2 {
  font-size: calc(16px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  padding-bottom: 15px;
  line-height: 1.2em;
  display: inline-block;
  position: relative;
}

section.news-scroll h2::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  height: 0.05em;
  background-color: currentColor;
  width: 100%;
  transition: width .25s, left .25s;
}

article.top {
  margin-top: 30px !important;
}

section.news-scroll p {
  text-transform: none;
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
}

section.news-scroll img {
  width: 45vw;
  height: auto;
  margin-top: 5px;
  margin-bottom: 30px;
}

section.news-scroll article {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 60vw;
}


/* Media Queries ======================================== */

@media only screen and (max-width: 1100px) {

  div.tour-info {
    width: 25vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    overflow-y: scroll;
    transform: translateX(25vw);
    transition: transform 0.5s;
    box-sizing: border-box;

    padding-top: 30px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 850px) {
  div.bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;
    z-index: 2;
  }

  div.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;
    z-index: 2;
  }

  div.middle-left {
    /* transform: translateY(-22.5px);
    -webkit-transform: translateY(-22.5px); */
    padding-bottom: 77.5px;
  }

  div.middle-right {
    /* transform: translateY(-22.5px);
    -webkit-transform: translateY(-22.5px); */
    padding-bottom: 77.5px;
  }

/* Social ================================ */
div.social {
  width: 100vw;
  height: 85px;
  bottom: 0px;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.social-icons li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.social-icons li:hover {
  opacity: 1;
}

/* Soundcloud ================================ */

div.sc-wrap {
  width: 300px;
  opacity: 0.5;
  transition: opacity 0.35s;
  padding-right: 0px;
  transform: translateY(10px);
}

div.sc-wrap:hover {
  opacity: 1;
}

span.line {
  background-color: #fff;
  height: 20px;
  width: 1px;
  opacity: .5;
  margin-right: 12px;
  visibility: hidden;
}

section.info-right {
  transition: transform 1s;
}

div.tour-info {
  transition: transform 1s;
}

/* News ====================== */


}

@media only screen and (max-width: 500px) {

  /* Social ========================== */

  .social-icons li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  /* Tour ====================== */

  div.tour-info {
    width: 40vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    overflow-y: scroll;
    transform: translateX(50vw);
    transition: transform 0.5s;
    box-sizing: border-box;

    padding-top: 30px;
    padding-bottom: 40px;

  }

  section.info-right {
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 35vw;
    transition: transform 0.4s;
    z-index: 3;
  }

  section.info-right.open {
    transform: translateX(-35vw);
  }

  /* Contact ================== */

  div.contact-modal {
    position: fixed;
    top: 27vh;
    left: 50vw;
  }

  /* Buttons ========================= */

  div.top-left {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    z-index: 2;
    transition: transform .3s ease;
  }

  div.top-right {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    z-index: 2;
    transition: transform .3s ease;
  }

  div.middle-left {
    padding-left: 15px;
    padding-right: 15px;
  }

  div.middle-left a {
    transition: transform .3s ease;
  }


  div.middle-right {
    padding-left: 15px;
    padding-right: 15px;
  }

  div.middle-right h1 {
    transition: transform .3s ease;
  }

  .tour.clicked {
    transform: skewY(0deg);
  }

  div.bottom-left {
    padding-left: 15px;
    padding-right: 15px;
    transition: transform .3s ease;
  }

  div.bottom-left.clicked {
    transform: skewY(0deg);
  }

  div.bottom-right {
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;
    transition: transform .3s ease;
  }

  div.bottom-right.clicked {
    transform: skewY(0deg);
  }


  /* News ========================= */

  section.news-scroll {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  section.news-scroll img {
    width: 100vw;
    height: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }


}

@media (hover: none) {
  a:hover {
    transform: skewY(10deg);
  }

  div.top-left:hover {
    transform: skewY(10deg);
  }

  div.top-right:hover {
    transform: skewY(10deg);
  }

  .middle-left a:hover {
    transform: skewY(10deg);
  }

  .middle-right h1:hover {
    transform: skewY(10deg);
    cursor: pointer;
  }

  div.bottom-left:hover {
    transform: skewY(10deg);
    cursor: pointer;
  }

  div.bottom-right:hover {
    transform: skewY(10deg);
    cursor: pointer;
  }

  .social-icons li:hover {
    opacity: 1;
  }

  div.sc-wrap:hover {
    opacity: 1;
  }
}
